Header {
    padding: 20px;
  text-align: center;
  background-color: rgb(126, 42, 24);
  border-bottom: 2px solid #0b1218b2;
  position: relative;
  grid-area: header;
}


body {
    background-color: rgb(18, 36, 43);
    margin: 0;
    display: grid;
}

.image-gallery {
    display: flex; /* deixa imagens em uma linha horizontal */
    justify-content: center; /* centraliza as imagens no meio */
    gap: 20px; /* deixa espaço entre as imagens */
    margin-top: 30px; /* deixa espaço entre o texto e as imagens */
    flex-wrap: wrap;
}

.image-gallery img {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 10px; /* deixa as imagens com bordinhas arredondadas */
    border: 3px solid rgba(0, 0, 0, 0.164);
}

.banner {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: banner;
       background: url(../img/fundo.png) no-repeat center/cover;
}

.banner-texto h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: rgb(255, 214, 153);
    text-shadow: 2px 2px 10px rgb(1, 6, 8);
    font-style: italic;
  }


    footer {
        color: #fff;
       padding: 20px;
       text-align: center;
       border-bottom: 2px solid #ffffff;
       position:relative;
       top: 0;
       z-index: 10;
       background-color: rgb(126, 42, 24);
       grid-area: footer;
     
     }
     footer p {
       margin: 0;
       font-size: 18px;
        font-family:'Times New Roman', Times, serif;
       font-style: italic;
       color: rgb(222, 170, 132);
     }
      .avatar {
          width: 100px;
          height: auto;
          padding: 45px;
        }
        
    .menu-lateral { 
      position: fixed;
      left:-2000px;
      top: 0;
      width: 200px;
      height: 100%;
      background-color: rgba(49, 127, 139, 0.307);
      backdrop-filter: blur(8px);
      padding-top: 60px;
      transition: 800ms;
      float: right;
    }
    
    .menu-lateral ul {
      list-style: none;
      padding: 10px;
    }

    .menu-lateral ul li {
      margin: 15px 0;
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
       font-style: italic;
    
    }

    .menu-lateral ul li a:hover{ 
      background: #575757;
      border-radius: 5px;

    }
    .menu-lateral ul li a{
      text-decoration: none;
      color: rgb(86, 210, 206);
     text-shadow: 2px 2px 10px #060b0e9e;

    }
    
    
    #check:checked ~ .menu-lateral {
      left: 0px;
    }

    #check {
      display: none;
    }

    .conteudo {
      padding: 20px;
      margin-left: 10px;

    }

    .botao {
      font-size:40px ;
      color:#4e7a87;
      float: left;
    }

    h5 {
           margin: 15px 0;
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
       font-style: italic;
      color: #fdcc9b;
       text-shadow: 2px 2px 10px #ffecc69e;
       background-color:rgba(126, 43, 24, 0.507);
       text-align:center;
       text-indent: 1%;
       text-anchor: end;
    }