.container  {
  
  display: grid;
  grid-template-columns: 5fr  1fr;
  grid-template-rows: 25vh 15vh 60vh;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {  
  image-orientation: end;
  text-align: center;
  object-fit: cover;
    justify-content:space-between ;
    align-items: center;
    display: flex;
  color: #161616;
  font-family: 'Twilight New Moon';
  grid-area: header;
}
@font-face {
  font-family: 'Twilight New Moon';
  src: url(/fonts/twilight_new_moon/twilight\ New\ Moon.ttf)
}
nav {  
  text-align: center;
  font-family: 'Uncial Antiqua';
  background: rgb(83, 43, 43);
  grid-area: nav;  
}

main { 
  grid-area: main;
  background: rgb(36, 56, 27);
}

aside { 
  grid-area: aside; 
  background: rgb(116, 177, 110);
}

header img { 
    width: 50;
    max-height: 100;
    




}
